<!DOCTYPE html>

<html lang="en">

{{> head }}



    {{> navbar }}

        <div class="row">
            <div class="col-8">
                <h1>Pensar...</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe unde commodi aspernatur quo, esse mollitia tempore consequatur adipisci labore exercitationem asperiores porro pariatur assumenda ab, natus optio possimus ipsam?

            </div>

            <div class="col-4">
                <img src="assets/img/bombilla.png" class="img-thumbnail">

            </div>

        </div>

{{> footer }}